@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    color: palevioletred;
    font-family: 'Jomhuria', cursive;
    font-size: 35px;
    background: black
}

li{
    border-bottom: 1px solid white;
    text-align: center;
}

li:hover{
    cursor: pointer;
}

button{
    color: white;
    background: black;
    width: 100px;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 350px;
}
.reproduciendo{
    color: blue;
}